[2020-04-11 17:49] sliverc commented on #718
@ro70 This makes total sense especially with your tags example and I have overlooked this use case before.

I prefer to implement *1 though over *2 because:
1. at this point the JSON API spec doesn't state that `[][]` is allowed
2. simply changing regex to implement `[][]` is not a complete implementation as it would mean someone could actually add an additional `[]` to non-multivalues - so valida

[2020-04-13 21:09] glowka commented on #779
Thanks for immediate response.

OK, that makes sense now. Because of issues raised in #639 as well as no `read_only` enforcement (as in DRF `SerializerMethodField` ) I had not recognized it followed the same idea, actually when I realized the arguments (#639) worked in different manner I thought it might be implemented with a bit different approach. Hence the issue.

I can't sign up for that now,

[2020-04-13 21:30] glowka opened #780 "SerializerMethodResourceRelatedField breaks parent chain"
If `SerializerMethodResourceRelatedField` is called with `many=True` and creates child field it misses call to `bind()` which would complete setting the relation between parent field and child field.

In effect it breaks the pattern that on every DRF field you can always go up the tree towards the root using `parent` attribute.

That part of [ManyRelatedField.__init__()](https://github.com/encode/

[2020-04-14 07:24] sliverc commented on #780
Thanks for the hinter. I agree this is not directly related to #639 and would be an easier fix.

PR is also welcome for whoever want to pick this up.

[2020-04-15 07:30] ro70 commented on #718
@sliverc Below a few thoughts about "anded/ored" filters. I'd like to know what you think about it. Should I go further with one of these approaches or do you have other ideas/conceptions in mind?

---

**FilterSet approach**

A few changes in the `rest_framework_json_api.django_filters.DjangoFilterBackend` (see above) make the following work (I didn't care about the filter validation up to now):

[2020-04-16 16:13] ewelinabuturla commented on #473
Hi, could you please share how did you fix it? Also having same issue

[2020-04-16 19:39] ewelinabuturla commented on #473
I have exactly the same issue. I use rest_auth with drf-jwt and want to switch to json api.
When trying to register user I got the same error.
I see that resource_instance contains both token and user instance, so changing to `resource_instance['user'].pk ` helps. But how to avoid that. This is how my serializer looks like:
[code]

[2020-04-19 10:26] sliverc commented on #718
We only want to implement in DJA what is actually JSON API spec specific; otherwise such implementation need to happen in the respective upstream project (Django Filter, DRF or even Django itself).
So a `allin` lookup is not DJA specific in this regard. And how DJA users use DjangoFilterSet is also up to them as JSON API spec doesn't define how filter arguments are used.
If you are referring to ch

[2020-04-21 15:24] lingxiaoyang opened #784 "Issues with RelationshipView PATCH endpoint (to-many)"
Hi folks, I think I run into two unexpected behaviors with RelationshipView's PATCH endpoint when the relationship is to-many. I'm fairly new on JSON:API, so in case I'm doing anything wrong, please let me know!

The 1st issue is that, the endpoint throws an IntegrityError when PATCHing the endpoint with the same object as retrieved.

The 2nd issue is that, the endpoint incorrectly deletes the act

[2020-04-29 15:12] sliverc commented on #473
@ewelinabuturla
This issue is old and even though your issue might look similar it might not be. And when I read through it seems that I was actually never able to reproduce this issue.

I am locking this conversation. But if your issue still exists best open a pull request with a reproducing test for your issue (can also be an example application or similar if this is easier).

[2020-04-30 19:54] sliverc commented on #496
As there hasn't been any feedback I am closing this issue. Please comment though if you think this issue should remain open.

[2020-04-30 19:54] #496 closed

[2020-05-03 19:44] #639 closed

[2020-05-03 19:44] #779 closed

[2020-05-03 19:44] #780 closed

[2020-05-03 20:02] sliverc commented on #784
Thanks for reporting and your very detailed bug report. :+1:

Deleting with an empty list actually has never been implemented (see #244) but it seems as a side product of #242 it is now worse. And when quickly looking at the code your first issue also makes sense why it occurs but it should not...

RelationshipView could need some love... pull request are very welcome.

[2020-05-03 20:14] sliverc commented on #399
While discussing #776 it occurred to me that it actually is already possible to define custom error objects - see [test code snippet](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/example/api/serializers/identity.py#L18).

Closing this issue therefore. Please comment in case this doesn't solve this issue.

[2020-05-05 04:39] Rjak commented on #777
@sliverc I'm so sorry I missed your response!

You were correct about the GET. Postman happily sends GET requests with JSON bodies and Django happily parses them, but that's not the standard so I have switched to GET params.

I was able to implement a model-less serializer by extending `rest_framework_json_api.serializers.Serializer` and I'm now seeing a JSON:API-formatted response, which is great

[2020-05-05 04:39] #777 closed

[2020-05-07 12:58] Johnz86 opened #786 "Does DEFAULT_FILTER_BACKENDS provide filters for ModelViewSet by default?"
Documentation for [Default_FILTER_BACKEND says](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/docs/usage.md#configuring-filter-backends):
[code]
So I thought that when I add the configuration
[code]
And then for my model create viewset:
[code]
Included with simple urls
[code]
Then I will get filtering on the viewset out of the box, when I hit for example url
[code]

[2020-05-13 08:53] sliverc commented on #786
This is actually a DRF feature which is documented [here](https://www.django-rest-framework.org/api-guide/filtering/#setting-filter-backends).

So the only thing which I could imagine is that `filter_backends` is somehow defined in one of the base classes of the view.

Hope this helps otherwise a small demo app which reproduces would be helpful.

[2020-05-14 08:27] #769 closed

[2020-05-14 09:38] kiawin commented on #777
Hi @Rjak, just to share that I've tried to implement a model-less DJA view. The pagination can be enabled by inserting a list of objects into `paginate_queryset` (instead of a `QuerySet` object):

[code]

According to [DRF](https://www.django-rest-framework.org/api-guide/pagination/#custom-pagination-styles), the `paginate_queryset` instantiate the `page` object which is to be used by `get_paginat

[2020-05-14 13:27] rohithpr commented on #784
Hey @sliverc! I've submitted [a PR](https://github.com/django-json-api/django-rest-framework-json-api/pull/788) to fix this issue, could you please review it? 🙂

[2020-05-20 12:56] #718 closed

[2020-05-20 21:59] sdhawley opened #790 "inflection ignored in lookup by RelationshipView"
I did a quick search and didn't find a similar issue, but I apologize if I missed one on this topic. And, maybe this is an enhancement request rather than a bug report. It is an inconsistency in type names between the url and rendered document.

For an api view of a model I have eg http://localhost/api/customer-accounts/ where the relationship type (lets just call it relationship-name) is inflecte

[2020-05-22 19:49] sliverc commented on #790
Thanks for reporting. I agree the link of `RelationshipView` should adhere to the inflection setting and the current behavior is inconsistent. However it is actually the setting `JSON_API_FORMAT_FIELD_NAMES` it should follow as it is the name of the relationship and not the type.

PR is welcome. This change will be breaking though so I think best would be to still allow underscored values for now

[2020-06-04 11:39] gelmiro opened #794 "Add possibility to filter included resources"
Hi,
Right now we don't have possibility to filter included resources I guess. Example:
We have situation:
[code]
In this situation in `relationships` field for `/category/` I will get `movies` with a list of ids. I want to filter `movies` with specific parameter i.e. `/category/?filter[movies.rating.gte]=5&include=movies`

Can I achieve this somehow?

[2020-06-05 05:00] nattyg93 commented on #438
I've come across this same issue in a slightly different context. I'm happy to consider working on a pull request. Is this something that you folks are interested in getting tackled?

This same issue occurs when the child field of `ListField` raises a `ValidationError`. `ListField` will raise something like `{1: '"asdf" is not a valid choice.'}` and hence the error handler will skip formatting the

[2020-06-05 08:08] sliverc commented on #438
@nattyg93 Thanks for bringing this issue back to attention.

With #776 we have introduced nested structure within a attribute value. Outstanding in this case is still the error handling part see #787.

I think with the approach taken in that PR your issue with `ListField` should also be solved but not the initial use issue of this report. This needs to be added as test case to be sure though.

I w

[2020-06-05 09:02] nattyg93 commented on #438
@sliverc Excellent! I'll take a look at #787 and see if I can help out there. Cheers.

[2020-06-06 14:41] daveseff commented on #155
Ok I'm stuck on this issue.
I have to implement a django rest_framework with JSON API output with pagination. Seems simple enough. I've done it many times before. But this time I don't have an underlying model to work from.

My data comes from a third-party SDK which just returns a list of dictionaries. It's complex data with nested lists and such, but in the end it's just a list of dicts.

I'm po

[2020-06-06 19:09] sliverc commented on #155
@daveseff
before you return the objects in `get_all_the_things` you could use `setattr` on each dict of the list calculating the primary key depending on the dict content.

[code]

[2020-06-06 19:12] sliverc commented on #786
As there hasn't been any feedback I assume this has been solved. If there is still a question concerning Django REST Framework JSON API please comment.

[2020-06-06 19:12] #786 closed

[2020-06-06 19:22] sliverc commented on #794
A filter can only be set to filter the requested resource so in your example use case only categories itself. What you are trying to do is not very RESTful and you might rather consider creating an API endpoint `movies` where you have a filter category and your greater than filter.

If you still want to follow your api design what you could do is to use [SerializerMethodResourceRelatedField](https

[2020-06-06 21:51] mynameistechno commented on #155
Yeah I ended up addressing this in a similar fashion. I take the underlying data dict and create an object instance from a simple class definition. The class has a read only pk property method that returns the id.

[2020-06-07 01:47] daveseff commented on #155
Thank you kindly @sliverc  and @mynameistechno . I managed to get this working by creating a dummy object and populating a list with those objects. I'm posting my solution here in case any one else comes across this and needs a solution:

[code]

Then had to manipulate the list of dicts. This is somewhat ugly code but worked:
[code]

Then Changed my serializer to serialize the object data:
[code]

[2020-06-13 13:00] #244 closed

[2020-06-13 13:00] #784 closed

[2020-06-19 16:11] mroobert opened #796 "JSON_API_FORMAT_FIELD_NAMES = "camelize" - NOT working with nested objects"
I updated Django project with this config:
**Django version 2.2
django-rest-framework version 3.9.4
django-rest-framework-json-api version 2.8.0**

In the base.py file, JSON_API_FORMAT_FIELD_NAMES = "camelize" and the result is:

Formatted JSON Data
[code]

The **component_style** is not camelized...
With django-rest-framework-json-api version 2.4.0** this worked.

[2020-06-21 20:05] sliverc commented on #796
See https://github.com/django-json-api/django-rest-framework-json-api/issues/754#issuecomment-566156109

Does this clarify your issue?

[2020-07-10 12:34] NFS002 opened #800 "How to get full request body data"
Hello,

If I have used the package correctly, when you post data to an api endpoint with content type set to appliction/vnd.api+json, and then you access the request.data attribute, it only shows the attributes dict of the posted data, how do you access the full request body ? Thanks

[2020-07-14 12:48] sliverc commented on #800
This is currently not possible once it has been passed through the DJA parser as the idea of the parser is to simplify the input data so it can be easily passed through a serializer. You could write your own parser of course if you want to parse the json yourself.

My question would be though what your use case for this is though?

[2020-07-14 12:50] NFS002 commented on #800
Cheers, solved it now anyway, my use case is related to the PolymorphicSerializer, and that pretty much how 'I' solved it...

[2020-07-14 12:50] #800 closed

[2020-08-07 17:11] n2ygk opened #803 "django-polymorphic now does support Django>3.0"
I don't use polymorphic but noticed that the docs build was failing with this traceback:
[code]

I worked around this by forcing `Django>=2.2,<3.0` to get the docs built. PR coming shortly.

[2020-08-11 00:53] steder opened #805 "Support `field_name_mapping` in `RelatedMixin`"
I have a case where my client is attempting to access both the `relationships` and `related` views with a different `related_field` name.

I was able to work around this for the relationships view with the `field_name_mapping` but not for my "related" view (based on ModelViewSet).

I poked at things and made a small change to `RelatedMixin` that works around the issue for me.  Would it make sense

[2020-08-18 09:26] sliverc commented on #794
As there hasn't been any feedback I assume this issue has been resolved. If not feel free to comment.

[2020-08-18 09:26] #794 closed

[2020-08-18 12:31] sliverc commented on #805
As you state in PR #806 this might not be a DJA issue.

Any progress on this whether it is a DJA issue or somewhere in your code base?

[2020-08-21 03:18] auvipy commented on #547
- 2020-08-20: 1.1 Release candidate 2 released.
  - [Extensions](https://jsonapi.org/format/1.1/#extensions) were added and the
    scope of [profiles](https://jsonapi.org/format/1.1/#profiles) were reduced
    since their introduction in RC1.
  - [Links](https://github.com/json-api/json-api/pull/1348) can be represented
    as [RFC 8288](https://tools.ietf.org/html/rfc8288)-style web links.
  - A

[2020-08-21 03:20] auvipy commented on #547
We can re-open this & analyze JSON-API 1.1 RC2 and modify the related closed issues. it seems with new extensions and other overhauls it is not so far from release this time.

[2020-08-21 03:22] auvipy opened #810 "JSON API 1.1 RC 2 Extensions"
https://jsonapi.org/format/1.1/#extensions

[2020-08-21 03:53] auvipy opened #811 "JSON API 1.1 RC 2 Local ID"
https://jsonapi.org/format/1.1/#document-resource-object-identification

[2020-08-21 20:51] sliverc opened #812 "Allow changing of format with query parameter"
## Issue

The guides on https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html#configuration recommend including the `rest_framework_json_api.filters.QueryParameterValidationFilter` in initial configuration which is good advice, but by default, the Django REST Framework UI provides a dropdown which allows you to pick `format=api` or `format=vnd.api+json`

![screenshot at 2018-1

[2020-08-24 07:22] kiawin opened #814 "Tag new version to release in pip"
Hi @sliverc, great work on DJA. May I know whether we can have a new release? I'm keen to use #781.

Thanks 😄

[2020-08-24 07:28] sliverc commented on #814
We are planning a release. There is a blocking issue though explained at https://github.com/django-json-api/django-rest-framework-json-api/pull/787#issuecomment-675384206

Once we find an solution for this issue we will do another release.

[2020-08-25 17:09] #438 closed

[2020-08-25 23:49] #814 closed

[2020-08-25 23:54] GrandSlam90 opened #818 "JSON output incorrectly wrapping id in quotes"
I've dropped DRF-JSON-API into my DRF application following all the defaults but I'm getting strange output where the model's `id` is being wrapped in quotations. This is causing issues with my Ember.js frontend as it's unable to properly parse the output.
I've checked the database and the id field is defined as an integer. Every other field seems to be serialized correctly.
What setting am I miss

[2020-08-25 23:59] n2ygk commented on #818
"Every resource object MUST contain an id member and a type member. The values of the id and type members MUST be strings."

Reference: https://jsonapi.org/format/#document-resource-object-identification

[2020-08-25 23:59] #818 closed

[2020-08-26 09:43] sliverc commented on #818
As additional hinter there is for instance [following project](https://github.com/adfinis-sygroup/timed-frontend) which uses DJA in the newest version with ember and it works without any problems.

Maybe you can find some hinters there to solve your issue.

[2020-08-27 21:22] GrandSlam90 commented on #818
Thanks for the quick response and the links for clarity.
I've now refactored my backend and everything now works correctly.
It might be worth updating the README.rst as the opening example shows the `identity` JSON-API response with unquoted IDs. This is partly what sent me down this rabbit-hole.
Keep up the great work 👍👍

[2020-08-27 23:16] n2ygk commented on #818
A documentation improvement PR would be gladly accepted!

On Thu, Aug 27, 2020 at 5:22 PM Andy Taylor <notifications@github.com>
wrote:

[2020-09-01 16:48] sdhawley opened #820 "Filters negation/exclusion"
The FilterSet class supports an exclude option but I don't see how to specify that in filterset_fields. Is it possible? Could we get a 'not equal' option?

[code]

[2020-09-01 17:15] n2ygk commented on #820
You'll want to check the upstream https://django-filter.readthedocs.io/en/master/ref/filterset.html#exclude

Simple things you can implemented by setting `filterset_fields` while others require you to subclass `FilterSet`. I think this is one of those.

[2020-09-01 19:00] ro70 commented on #820
Not sure but is it not rather [this](https://django-filter.readthedocs.io/en/stable/ref/filters.html#exclude) `exclude`?

Then set `filterset_class = XFilter` in your ViewSet and
[code]

[2020-09-03 13:33] p-fischer opened #821 "AttributeError in ApiView get() introduced in release 3.2.0"
I get a crash in this code snippet, which works in version 3.1.0:

[code]

The partial stack trace is
[code]

I run into the same error on a POST request in a different area.

Looking at the changelog and commits between 3.1.0 and 3.2.0 and suspect this commit could be related:
https://github.com/django-json-api/django-rest-framework-json-api/commit/ff0f93ac041d3729e898236917c732bf9eaaeab4

Is thi

[2020-09-03 17:26] n2ygk opened #822 "add Django 3.1"
[Django 3.1](https://docs.djangoproject.com/en/3.1/releases/3.1/) is recently released. Upstream DRF has passing tests for it but has not yet published support for it.

[2020-09-03 17:59] sliverc commented on #821
As I interpret it the former error masked another error in the DJA code base in the `SparseFieldsetsMixin` mixin. This should actually only be evaluated when rendering and not when parsing.

Anyhow it is good practice to define a `resource_name` in your serializer `Meta` class which should fix this issue for you (resource name is the type attribute you use for posting the data to the endpoint). Ca

[2020-09-04 09:01] p-fischer commented on #821
Hi @sliverc thanks for your quick answer!

Sorry, I don't yet understand how to add `resource_name` in the serializer.
I only found this documentation https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html?highlight=resource_name#setting-the-resource-name showing examples, where `resource_name` is added in `APIView` or in the model.

My understanding of the role of `resource_na

[2020-09-04 20:37] sliverc commented on #821
I got mislead by your `POST` request statement but looking at your example it is a `GET` request.

I think I now see what happens and why this worked with 3.1.0 but not anymore with 3.2.0. In this [change](https://github.com/django-json-api/django-rest-framework-json-api/commit/2adfb5be6451444da157ca91f0f5be0a52765b35#diff-8f2fdb5cb1d819dce410d6b74d0b77b6) a `Serializer` class got introduced which

[2020-09-04 20:49] sliverc commented on #818
@GrandSlam90 Very good point. I have created #824 fixing this issue.

[2020-09-04 20:56] sliverc commented on #796
As there hasn't been any feedback on this issue so I assume this has been clarified. If not feel free to comment.

[2020-09-04 20:56] #796 closed

[2020-09-07 10:42] p-fischer commented on #821
Using `rest_framework.serializers.Serializer`resolves the issues I was having and your explanation makes absolute sense.
I didn't pay attention to the import statements before.
Thank you so much!

[2020-09-07 10:42] #821 closed

[2020-09-08 16:09] #433 closed

[2020-09-16 14:12] sdhawley commented on #820
Sorry for the delayed response. @ro70 is correct, I'm looking for the FilterSet exclude functionality so I can search for field != value.

Query string could be something like https://host.com/api/endpoint?filter[field.ne]=value or https://host.com/api/endpoint?filter[field]!=value, though I think the former is more in line with the json api spec and convention.

[2020-09-16 14:55] n2ygk commented on #820
I like the former. Implementing `!=` would be difficult

On Wed, Sep 16, 2020 at 10:12 AM Steve <notifications@github.com> wrote:

[2020-09-18 14:18] n2ygk commented on #803
Django Polymorphhic [3.0](https://django-polymorphic.readthedocs.io/en/stable/changelog.html#changes-in-3-0-0-2020-08-21) now supports Django 3.0 but drops 1.11.

Looks like it's time to drop 1.11....

[2020-09-18 18:48] sliverc commented on #803
Dropping support for Django 1.11 is certainly good as it is end of life.

However dropping of Django 1.11 support would mean another major release as it drops backwards compatibility. That's totally fine but I would like to combine it with adding support for DRF 3.12 as well. Hope this is coming out soon but I guess we won't release before it is not released.

[2020-09-18 18:50] n2ygk commented on #803
@sliverc yep. I took the opportunity to create a 3.3.0 milestone.

[2020-09-18 18:55] sliverc commented on #820
As @ro70 suggested that's how I see this is currently done.

DJA only implements a very thin filter layer which basically wraps query parameters into `field[]`. The rest is all done in `django-filter` itself. Therefore I don't see that this question is DJA specific. If you want to do exclude it differently you would need to discuss this upstream in the [django-filter](https://github.com/carltongib

[2020-09-18 18:55] #820 closed

[2020-09-18 18:56] sliverc commented on #803
we are following semver (unlike DRF) so it should be version `4.0.0`.

[2020-09-18 18:57] sliverc commented on #805
I assume you have been able to figure out the issue you had, therefore closing. In case this is still an issue feel free to comment.

[2020-09-18 18:57] #805 closed

[2020-09-21 15:14] sliverc opened #829 "Drop Python 3.5 support"
Python 3.5 reaches end of life September 2020

https://devguide.python.org/#status-of-python-branches
https://www.python.org/downloads/release/python-3510/

Django 2.2 still supports Python 3.5 however I would recommend we drop it for the upcoming major version.

[2020-09-21 15:18] sliverc opened #830 "Drop end of life Django versions (2.1, 1.11)"
This has been discussed but it is good to have its own single issue for dropping and adding features :smile:

See https://www.djangoproject.com/download/ for release schedule.

[2020-09-21 16:05] #830 closed

[2020-09-23 18:24] sliverc commented on #803
As of changes made in #828 and #831 this issue is also resolved.

[2020-09-23 18:24] #803 closed

[2020-09-29 13:43] n2ygk opened #832 "Add DRF 3.12 support"
See https://www.django-rest-framework.org/community/3.12-announcement/

[2020-10-05 17:58] #832 closed

[2020-10-09 20:11] educolo opened #836 "dj_rest_auth with JWT auth break on renderer (login or register)"
When I try to register o login I get this error
`AttributeError: 'dict' object has no attribute 'pk'`

The issue raise on renderers.py on the line
`('id', encoding.force_str(resource_instance.pk) if resource_instance else None),`

It works well with Tokens, but breaks with JWT.
dj-rest-auth change the data to serialize when JWT is active like this:
[code]

To fix (at least for the moment) this iss

[2020-10-12 21:08] sliverc commented on #836
json:api spec always needs an id and type. In a JWT authentication it is not quite clear what it would be as there is no real model.

I guess the easiest would be that for authentication you use simple json and for the rest of the API json:api spec. This is also closer to authentication standards like [OpenID Connect](https://openid.net/connect/).

To do this you can define an additional plain JSO

[2020-10-13 06:55] skonik opened #838 "POST list data returns "Received data is not a valid JSONAPI Resource Identifier Object""
Hi there.

I have API endpoint which receives list of items. I need an array of items as input
[code]

But when I try to post data in such way:
[code]
I always get this error:
[code]

How could I pass this error?
Is it possible to send an array of data?

[2020-10-14 19:38] sliverc commented on #838
json:api spec doesn't support bulk creation in the current version. There is a workaround you might use which is outlined [here](https://github.com/django-json-api/django-rest-framework-json-api/pull/393#issuecomment-353579753).

Closing this issue. Feel free to comment though in case question remains.

[2020-10-14 19:38] #838 closed

[2020-10-15 13:56] sliverc opened #841 "Add support for Python 3.9"
As of https://github.com/encode/django-rest-framework/pull/7517 DRF already supports Python 3.9 so we can do to.

[2020-10-15 21:09] educolo commented on #836
Thanks a lot. I'll check this info, but I think it's more than enough.

[2020-10-15 21:09] #836 closed

[2020-10-16 15:03] #829 closed

[2020-10-16 15:06] sliverc commented on #468
Whenever I review PRs or write PRs myself the most apparent issue of DJA is that the testing code is very messy and confusing for contributors how to write a test and where.

The issues I see at this point:
* mixed styles of tests (Pytest, Unittest)
* mixture between example app and test itself
* unclear naming
* test data shared across several modules (once test data needs to be adjusted totally

[2020-10-16 17:05] #519 closed

[2020-10-16 17:15] n2ygk commented on #468
@sliverc I agree with all your points 100%.

[2020-10-17 05:36] auvipy commented on #468
django rest framework suggest pytest like asserts

[2020-10-17 09:31] hajothelen opened #843 "wrong path in Running the example app"
It seems that there is a wrong path in chapter "Running the example app"

_cd django-rest-framework-json-api_ but it looks to me that it should be _cd django-rest-framework-json-api/example_

Files

- README.rst
- doc\getting-started.md

[2020-10-17 11:52] n2ygk commented on #843
Have you tried running it from there?  It's why `--settings=example.settings`

[2020-10-17 11:52] #843 closed

[2020-10-21 05:40] petrosschilling opened #845 "Add support for DRF 3.12+"
I'm having dependency issues because DRF version 3.12 is not supported and I need 3.12 for other dependencies.

here is the issue raised by pip install:
```djangorestframework-jsonapi 3.2.0 requires djangorestframework<3.12,>=3.10, but you'll have djangorestframework 3.12.0 which is incompatible.```

I'm happy to help.

[2020-10-21 05:47] petrosschilling commented on #845
I upgraded pip and it worked with no problems.

[2020-10-21 05:48] petrosschilling commented on #845
I upgraded from pip-20.2.3 to pip-20.2.4 and it worked.

[2020-10-21 05:53] petrosschilling commented on #845
My bad... Issue is still there.

[2020-10-21 13:58] n2ygk commented on #845
@sliverc can we do a dependency update 3.x release without yet releasing the other 4.0.0 features....

[2020-10-22 13:57] n2ygk commented on #845
@sliverc It occurs to me that we've merged too much into the master branch to do another 3.x release without starting a whole new branch in the project and this is time-consuming.

@petrosschilling meanwhile you can use the master branch which already incorporates the DRF 3.12 requirement.
You can do this by putting `git+https://github.com/django-json-api/django-rest-framework-json-api.git` in you

[2020-10-22 13:57] #845 closed

[2020-10-24 18:51] #841 closed

[2020-10-29 22:24] n2ygk opened #848 "migrate to travis-ci.com"
See https://docs.travis-ci.com/user/migrate/open-source-repository-migration

Apparently travis-ci.org is being shrunk and eventually shut down.

Alternatively switch to github actions.

[2020-10-29 22:34] n2ygk commented on #848
@sliverc do I just need to change the webhook from travis-ci.org to travis-ci.com? Not quite sure.

[2020-10-29 22:52] n2ygk commented on #848
@django-json-api/core I made a travis-ci.com request for the DJA org but I'm not sure who the request got routed to. I did not receive it.

[2020-10-29 22:55] n2ygk commented on #848
I see it probably went to @gaker @sliverc and @jerel for the DJA org.... Will wait on you.

[2020-10-30 13:48] #604 closed

[2020-10-30 13:48] #644 closed

[2020-10-30 13:49] sliverc commented on #848
I will take over this hopefully soon. I have done this before in the past.

[2020-10-30 13:52] n2ygk commented on #848
Thanks. Please let me know what you've done as I need to do the same on another project. It's a bit confusing!

[2020-10-30 18:21] sliverc commented on #848
It is done now.

The steps I took roughly:
* Installed the GitHub Travis CI app on the org
* Configure App and (all repositories does not work, need to chose specific repositories)
* Logged into Travis CI com and enrolled into Beta to be able to migrate
* chosen django-json-api org and started migration
* in GitHhub: adjusted settings in protected branches to enforce "Travis CI - Pull Request" che

[2020-10-30 20:09] #848 closed

[2020-11-02 10:40] David-Guillot opened #851 "[Feature proposal] Allow choosing included resources from browsable API"
Hi there,

Title says it all: our frontend team asked me if it would be possible, in the browsable API view, to choose related resource to include, among the list of possible includes defined by serializers. I think it's a good idea, and actually the code to achieve that is generic enough to be proposed as an addition to this awesome lib.

What do you think?

[2020-11-03 16:39] sliverc commented on #851
I like this idea! A PR would be very welcome if this can be implemented in a DJA specific Browsable API view which doesn't need to overwrite too much functionality of DRF.

[2020-11-03 18:08] uliSchuster opened #853 "Constrain RelationshipView to selected relationships"
I have a model with, say, two relationships; e.g., an `Order`with `line_items` and `modifications`.  I want to expose an `order` resource at `/api/v1/orders/<pk>/`, provide related resources at `/api/v1/orders/<pk>/line_items/` and `/api/v1/orders/<pk>/modifications/`. In addition, I want to provide a _relationships_ view for the line items only.

When I use the `RelationshipView` as described in

[2020-11-04 09:52] David-Guillot commented on #851
Great thank you! I just created #854 about this, but for now it lacks tests (that are fairly tricky to write because of the internals of DRF's `BrowsableAPIRenderer`), documentation and so on. By the way, the PR template is great :+1:

[2020-11-04 17:18] sliverc commented on #853
Could you not write a permission_class which return false when the `views.kwargs['related_field']` is `modifications` and `request.method` is not GET, HEAD or OPTIONS?

See https://www.django-rest-framework.org/api-guide/permissions/

[2020-11-05 09:59] sliverc opened #857 "Format code with black"
Django project [proposed](https://github.com/django/deps/blob/master/accepted/0008-black.rst) to format code with [black](https://github.com/psf/black).

I have been using black in many other projects and had very good experiences with it. As I am currently working on converting tests I very much missed black as a couple of times I had to format code to finally suite flake8 instead of concentratin

[2020-11-05 10:01] sliverc commented on #857
@n2ygk What do you think about this? I have added black configuration to other projects as well so I could follow up with a PR. As this is larger change though I think it is good to get some consensus before i get started.

[2020-11-05 10:23] sliverc opened #858 "included_serializers should be imported in meta class"
There is a method `utils.get_included_serializers` which handles importing of included serializers as a serializer can also be defined as string.

This method is called a couple of times during one request (e.g. in the renderer, resource validation etc.). It is much cleaner though to import this in the serializer meta class at import time so it only needs to be done once. In the code someone can t

[2020-11-05 11:30] uliSchuster commented on #853
Thanks for the hint, I will give it a try!

[2020-11-05 11:34] uliSchuster opened #859 "Allow overwriting of get_serializer_class with related urls"
In https://github.com/django-json-api/django-rest-framework-json-api/blob/a67a521327c9ec62a18a875abf13504a72d8eaf0/rest_framework_json_api/views.py#L182
the serializer class defined in the view is used directly. This is a problem if one wants to override `get_serializer_class()`; e.g., to provide a different serializer depending on the view action. Is there a reason to prevent dynamic serializer s

[2020-11-05 12:16] sliverc commented on #859
This issue only seems to relate to [related urls](https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html#related-urls) which need to be specially configured to enable. Otherwise it should not be a problem to overwrite `get_serializer_class` in any other case.

I think the issue is that `RelatedMixin` already overwrites `get_serializer_class` so `serializer_class` needs to be ac

[2020-11-05 16:50] n2ygk commented on #857
I'm OK with complying with whatever the rules are, but I'm personally cringing at: "88 characters per line and double quotes".... Most projects I work on seem to feel comfortable with line length 120. And single quotes don't require holding down the shift key, at least on a US keyboard.

Also it looks like [PyCharm's built-in formatting does not yet support Black-style](https://youtrack.jetbrains.

[2020-11-05 16:57] uliSchuster commented on #859
If I understand you correctly, the actual bug is that `RelatedMixin` overwrites `get_serializer_class()` in the first place - this might already lead to unintended consequences for upstream users of a view that uses the mixin. Instead, the method should be called `get_related_serializer_class()`, because it does exactly what the name implies. It then would not shadow the actual `get_serializer_cla

[2020-11-05 18:29] uliSchuster commented on #859
[Here](https://github.com/uliSchuster/django-rest-framework-json-api/tree/859-fix-attempt) is my attempted fix along the lines outlined above. Unfortunately, it does not seem to work, as it breaks two assertions in `test_views.py::TestRelatedMixin::test_retrieve_related_single` and `test_views.py::TestRelatedMixin::test_retrieve_related_single_reverse_lookup`
To separate related serializers from p

[2020-11-06 14:36] uliSchuster commented on #859
After some more debugging, I didn't get any further unfortunately. It seems that `retrieve_related` returns the correct response - at least, it includes the correct serialized data. But then during response rendering, something goes wrong and the   resource type get marked as being the parent resource instead of the related resource.

[2020-11-09 08:29] sliverc commented on #859
To clarify, this particular issue only affects users who use related urls. Such are not on by default but need to be activated through a specific url pattern as outlined in the [documentation](https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html#related-urls). Without those urls this [if statement](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/

[2020-11-09 09:29] sliverc commented on #857
Thanks for your thoughts.

We should not enforce something which makes working on DJA harder then it should. However before I started to use black I also had some doubts about it and now I miss black any time a project is not using it.

Some thoughts:
* With black I can just format my code as I type without worrying whether I use double quote, or single quotes whether the line length is too long o

[2020-11-09 13:19] n2ygk commented on #857
Sure, let's give it a shot and keep the default 88 for now and see how it goes.

pre-commit hook is a good idea.

PyCharm can run black on save so it might be OK.  I wonder how that works since PyCharm saves automatically... I guess I can git it a try soon;-)

[2020-11-09 13:30] sliverc commented on #857
I will see when I get to this. It is easiest though when there are no other PRs open when we do this to avoid merge conflicts.

Current open PRs should be merged soon though.

[2020-11-09 13:48] #851 closed

[2020-11-09 14:44] uliSchuster commented on #859
Thanks for this additional hint. Your assumption seems to be right. I added an if-statement to determine if the resource name of the related resource is needed or the parent resource. I extended the Author view in the example to test the issue - made sure that it fails on master first, then add my changes and see that the tests pass.

This is where another issue now pops up, in OpenAPI generation:

[2020-11-09 20:26] sliverc commented on #859
I do not quite see how such a change makes those tests fail. If you don't find the issue feel free to create a PR with what you got.

[2020-11-10 06:57] uliSchuster commented on #859
The problem seems to be in the snapshot tests, where the expected response does not match anymore. Instead of
[code]
we now get
[code]
I suppose the new expected result is correct, but I can't tell for sure because I am not familiar with the OpenAPI schema generation.

I will open a PR of my changes, so you can judge for yourself. Thanks for your help!

[2020-11-10 13:42] n2ygk commented on #859
See my review comments.

[2020-11-11 17:01] n2ygk opened #861 "improve CONTRIBUTING"
Improve the [CONTRIBUTING.md](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/docs/CONTRIBUTING.md) to document local development and testing steps prior to pushing/submitting a PR.

[2020-11-11 23:11] sliverc commented on #861
It is actually there on the [README.rst](https://github.com/django-json-api/django-rest-framework-json-api/blob/69a720a87f3bdbabb3ce0591a45d0c9b44ab9125/README.rst#running-tests-and-linting).

A normal DJA user is not interested in this though so I think this part should be moved to CONTRIBUTING.md and potentially adjusted.

[2020-11-11 23:54] #859 closed

[2020-11-18 21:29] uliSchuster opened #864 "Permission checks on related resources not executed"
I do have a `ModelViewSet`, say `MyModelViewSet` with custom permissions, and several related resources that are available via hyperlinks. The related resources have permissions that are different from the parent ViewSet. When I access the related resource via the provided hyperlinks, the permissions on the related resource are not enforced.

My hypothesis on what happens is as follows:
As recomme

[2020-11-19 11:36] mtnntn opened #865 "QueryFilters - Nested Relation Filters"
Hi everyone,

according to the [documentation](https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html#djangofilterbackend) seems that should be possible to filter resources based on their relationships using a query string like `?filter[inventory.item.partNum]=123456`.

I have the following models:
[code]
I have the following serializers:
[code]
And I have this view:
[code]

Un

[2020-11-20 19:09] #857 closed

[2020-11-20 19:42] sliverc commented on #864
We have discussed this at length in #496

Best summary is probably https://github.com/django-json-api/django-rest-framework-json-api/issues/496#issuecomment-433355486

We should certainly note this in the documentation that related urls are passed through parent object permission (as they actually also would if `included_serializers` was used).

[2020-11-20 20:07] sliverc commented on #865
For each filter you want to use you need to define a filterset field. There are some more complex examples [here](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/example/views.py#L155) which might help you.

With the docs is a bit of a challenge. Because this is actually not a DJA feature but of [django-filter](https://django-filter.readthedocs.io/en/stable/) where ho

[2020-11-20 20:41] uliSchuster commented on #864
Thanks for the explanation and the link. I understand that this isa much deeper issue than apparent at first. For my case, it might be best to route the url to a separate view instead of handling it via the `get_related` method on the parent view. Which makes me wonder why the latter (using the GET/`retrieve` method on the related view) is not the default case?

[2020-11-21 11:48] uliSchuster commented on #864
OK, I figured out how to use the base serializer with the related link. However, it was quite a challenge to get it right. The following comment [here](https://github.com/django-json-api/django-rest-framework-json-api/blob/d8f26fc9f87a8c684a80eafb10fe05524f3b3856/rest_framework_json_api/relations.py#L125) in the source code tipped me off:
[code]
It would be great to have this information in the do

[2020-11-21 20:54] mtnntn commented on #865
Thanks for all the references @sliverc.

I ended up implementing a custom FilterSet Class since I needed custom filtering options.

You're right about the documentation, it's something that should be looked up in the django-filter doc.

Anyway, If you're ok with it I'll submit a pull request to fix 2 links in the docs:
- "ordering filters" in the [Ordering Filters](https://django-rest-framework-js

[2020-11-22 20:17] sliverc commented on #865
It would be great if you could create a PR to fix those dead links. Thanks.

[2020-11-22 20:24] sliverc commented on #864
Great that you were able to figure it out. Related urls are documented [here](https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html#related-urls) but if you feel this needs to be improved a PR is always welcome.

Leaving this issue open anyhow for now so a note concerning the permission is added to the documentation.

[2020-11-27 04:37] platinumazure commented on #790
Hi @sliverc, I'm interested in seeing this fixed and I am willing to take a shot at this.

However, this will be my first contribution to a Python codebase, let alone anything related to Django or DRF or DJA. So, it could be a while before I have a PR up. (If anyone else wants to jump on this first, no worries, please just comment here so I'm aware-- thanks!)

I'm definitely willing to put in the

[2020-11-30 23:31] nattyg93 commented on #704
I think I'm running into this. The issue can be reproduced with:

[code]

Using this serializers results in:

[code]

I've worked around the issue by hacking the model onto the `ManyRelatedField` by adding the following method to the serializer:

[code]

[2020-12-03 18:09] sliverc commented on #790
Thanks @platinumazure that you are willing to work on this issue.

I think inflection for relationship view should be the default as I consider this issue a bug. As this is not a minor change it is certainly good to implement it backwards compatible. I think easiest would be to implement a setting where inflection of relationship view can be turned on. However when the setting is off and someone u

[2020-12-03 18:14] #865 closed

[2020-12-03 18:36] sliverc commented on #704
@nattyg93 Thanks for the example. This could be that this is the issue indeed. I am reopening this issue. PR is welcome.

[2020-12-04 04:13] platinumazure commented on #790
Thanks for the reply!

I'm about 40% through on a local branch. I am successfully inflecting the related and relationship URLs in the `links` objects and have modified tests, and added new ones. (By the way, I've been adding new tests to the `tests` package, outside of `example`. Is that where tests should be going from now on? Or should they be in the `example` app?)

I have realized that the cha

[2020-12-05 17:39] sliverc commented on #790
We are migrating [our tests](https://github.com/django-json-api/django-rest-framework-json-api/issues/468) to the tests module. New tests should be added there.

At first I have considered this issue a bug as I assumed that how the relationship name is formatted the link should be formatted as well. But when I read through the specification there is no hint that this actually needs to be the case.

[2020-12-05 18:04] platinumazure commented on #790
Yes, that's where the lookup ultimately needs to happen, but the difficulty is "un-inflecting" the inflected field name.

As an example, let's say I'm using a "dasherize" setting and I have a relationship URL ending with `created-by`. Both `createdBy` and `created_by` are valid field names and would be inflected to `created-by` in the URL (along with a few other possibilities).

So the `get_relate

[2020-12-05 18:28] #861 closed

[2020-12-06 18:53] sliverc commented on #790
When the feature of formatting is being used DJA assumes that the field names are named with the Python convention of underscoring. This is currently done in the [parser](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/rest_framework_json_api/parsers.py#L47) so you can do it here too.

[2020-12-06 20:59] platinumazure commented on #790
Got it, then I can do the same thing here for now. Thanks!

[2020-12-11 17:44] #704 closed

[2020-12-11 18:40] sliverc commented on #853
I assume with the above hint and the discussion in the partly related issue #864 this has been resolved and can be closed.

If there is still a question concerning this issue, please comment.

[2020-12-11 18:40] #853 closed

[2020-12-12 14:23] masda70 opened #871 "inflection is not performed by AutoPrefetchMixin for included resources"
On v4.0.0, inflection is not performed by the AutoPrefetchMixin for included resources, contrary to the JSONRenderer.

Suppose the following data model, serializers and viewsets:

[code]

[code]

`GET `tracks?include=is-part-of` or `GET `tracks?include=isPartOf` correctly returns the set all of tracks and the albums they are with album titles embedded within the JSON API's document `included` sect

[2020-12-12 18:26] sliverc commented on #871
Thanks for reporting this. When having a quick glance at the code it seems that this is indeed an issue.

Marking this as a bug. PR is very welcome.

[2020-12-13 08:23] ro70 opened #873 "Endpoint does not support the include parameter"
I'm not sure where the problem is (ResourceRelatedField?). When I'm requesting
[code]
I get the error message
[code]
My models and serializers roughly look like these:
[code]
I'm using dja version 3.2.0 (updating to 4.0.0 didn't solve the issue).

[2020-12-13 17:35] sliverc commented on #873
In this simplified example it all looks good to me and should work. I assume the error might have been removed due to the simplification (e.g. inflection happens here which might have caused it or something similar).

The exception which is raised happens [here](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/rest_framework_json_api/serializers.py#L116). What you coul

[2020-12-13 17:42] ro70 commented on #873
I found the problem. The line
[code]
https://github.com/django-json-api/django-rest-framework-json-api/blob/master/rest_framework_json_api/serializers.py#L113

changes our camelcase include parameter to an underscore one. We have to adjust this in our code. The example above doesn't show this problem.

@sliverc Oh, you commented the issue right now too ;) Thank you, I'm closing this...

[2020-12-13 17:42] #873 closed

[2020-12-19 09:05] ro70 opened #874 "Polymorphic question"
According to https://guides.emberjs.com/release/models/relationships/#toc_polymorphism a `data` object containing polymorphic relationships should look like
[code]
In my code (`djangorestframework-jsonapi==3.2.0`) the `type` values (*) remain `payment-methods` even if I set
[code]
in the `PaymentMethodPaypalSerializer` or in the `PaymentMethodPaypalModel` (according to https://django-rest-framewor

[2020-12-19 10:12] ro70 commented on #874
Using a `PolymorphicResourceRelatedField` (instead of a `ResourceRelatedField`) let me change the `type` in the relationships. This answers 2).

[2020-12-19 16:21] #874 closed

[2020-12-27 18:48] #790 closed

[2020-12-27 22:28] platinumazure commented on #467
Is this something the project is still interested in? When I started using DJA, I found it a little frustrating and unintuitive that we couldn't just "automatically" include the relationship and related resource routes.

If a PR is likely to be accepted, I could look into this within the next 1-2 weeks.

[2020-12-28 01:39] platinumazure commented on #413
Hi @sliverc, I'm interested in looking at this one.

I see that #815 added tests to the old example.tests module and also used snapshots. What would you recommend for this issue if I want to add tests in the new tests module? Are snapshots compatible with your vision for tests moving forward?

[2020-12-28 05:26] auvipy commented on #467
A PR is certainly welcome in this regard

[2020-12-28 06:32] sliverc commented on #413
@platinumazure Snapshot testing is certainly something we want to continue in the future. I am not so sure about the testing style in `test_errors.py` module though as it is quite repetitive and could be simplified with some pytest features.

I need to look into this later on anyway. So for a quick fix of this particular issue feel free to add the test to the old `example/tests/test_errors.py` mod

[2020-12-28 06:33] sliverc commented on #467
@platinumazure I don't think this will be straight forward but I would love to see this implemented as well.

[2020-12-28 13:30] n2ygk opened #877 "travis-ci.com builds stalled: switch to GitHub Actions"
@sliverc Travis-CI.com reports`Builds have been temporarily disabled for public repositories due to a negative credit balance. Please go to the Plan page to replenish your credit balance or alter your Consume paid credits for OSS setting.`

When I try to go to the Plan page it throws an error. See also this article: https://news.ycombinator.com/item?id=25338983

Looks like it's time to switch to G

[2020-12-28 13:35] #864 closed

[2020-12-28 13:47] n2ygk commented on #877
@sliverc Let me know if you'd like me to take a crack at configuring this.

[2020-12-28 19:48] #877 closed

[2021-01-27 19:11] BlackVoid opened #885 "Unable to add links to action endpoints"
Hi

I'm trying to figure out how to put links on objects to actions with this extension.
With DRF without any other extensions I'm able to use HyperlinkedIdentityField in the serializer to add the link to a view as can be seen in the following code and screenshot of output json.

    from rest_framework.viewsets import ModelViewSet
    from rest_framework.relations import HyperlinkedIdentityField

[2021-02-03 13:00] sliverc commented on #885
Thanks for your report. It could be that the support for `HyperlinkedIdentityField` is not complete. Could you provide an exception stacktrace?

If you have more time at hand best actually would be if you could provide a test which reproduces this issue within the test framework of DJA. There are [tests](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/example/tests/un

[2021-03-04 10:57] ramwin opened #891 "ModuleNotFoundError: No module named 'test_core'"
I tried to use the example but an error occured. My command is like this:

[code]
the error message looks like this:
[code]

[2021-03-05 09:12] #891 closed

[2021-03-09 09:50] sunnythakr opened #894 "Unable to performing Deserialization REST API"
python myapp.py
Traceback (most recent call last):
  File "C:\Users\sunny\AppData\Local\Programs\Python\Python37\lib\site-packages\urllib3\connection.py", line 170, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw
  File "C:\Users\sunny\AppData\Local\Programs\Python\Python37\lib\site-packages\urllib3\util\connection.py", line 96, in create_connection
    raise err
  File "C:\

[2021-03-09 17:26] sliverc commented on #894
It seems that the local service you are trying to connect to is either not running or a local firewall is forbidding such connection.

By the stack trace it is not clear though what this issue has to do with Django REST Framework JSON API? Could you add some more detail?

[2021-03-10 13:05] sliverc commented on #894
Thanks for the details. It seems that you are using plain REST framework and not the JSON API specification add-on which this Github repo is all about.

Your code sample might be missing a few bits and pieces. So what I recommend you is to create a git repository where you can reproduce this issue and publish this on github. Once you have this you can contact the REST framework team through one of

[2021-03-10 13:05] #894 closed

[2021-03-24 18:39] sliverc opened #899 "Ensure field names are only reversed when formatting is configured"
Through the discussion in #897 it occurred to me that we are not handling reversion of formatting field names very consistently.

In the parser ([here](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/rest_framework_json_api/parsers.py#L45) and [here](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/rest_framework_json_api/parsers.py#L58))

[2021-03-30 04:49] SafaAlfulaij opened #901 "bind() included resources"
Included resources that are instantiated in `extract_included` under `renders.py` doesn't `bind` fields `field_name` and `parent`.
I don't have a definitive use case yet, but sometimes it's needed to understand the tree structure of serializers.

https://github.com/django-json-api/django-rest-framework-json-api/blob/0892e3a8a4dbad9630d70e2b78e18b242a8b057d/rest_framework_json_api/renderers.py#L322

[2021-03-31 07:59] sliverc commented on #901
Thanks for your report.

The included feature of JSON API spec is a prefetching feature so basically an API user should be able to receive the same data in included as they would if they call the API of that entity separately.

If a `field_name` would be binded in a serializer a developer could distinguish between the too and will most likely fall into the pit to have render the data different in

[2021-03-31 15:02] sanjay-raut opened #902 "how to show relative URLs instead full url in payload"
I am having trouble showing relative links (self, related).
in payload it's always giving me a full URL like `http://localhost:8000/modules/3` , what I want is `/modules/3` instead showing full URL.
how can I achieve it?

[2021-03-31 16:16] SafaAlfulaij commented on #901
Let's say we have a `PostDetailSerializer` serializing fields including `id`, `name`, `author`, `body` (this is the detail endpoint `/posts/id`).
And have a `UserListSerializer` serializing fields including `id`, `display_name`, `last_post` (this is the list endpoint `/users`)

If we want to include the `last_post` of each user in a list, then we would get it's `body`, which can increase the load

[2021-04-01 05:55] SafaAlfulaij opened #903 "Different included_resources per permissions"
Ref #864
How can one restrict included resources by permissions? For example only staff users can include `flags` on `comments` on `posts`. Otherwise return 403?

[2021-04-02 20:15] sliverc commented on #901
JSON API spec resp. DJA follows REST principles. One of the REST constraint is [uniform interface](https://restfulapi.net/rest-architectural-constraints/#uniform-interface)

The [compound document](https://jsonapi.org/format/#document-compound-documents) feature in JSON API spec is basically a feature to avoid too many http request but the resource as such remains the same as when fetched through

[2021-04-02 20:15] #901 closed

[2021-04-02 20:28] sliverc commented on #903
You can write a [custom permission class](https://www.django-rest-framework.org/api-guide/permissions/#custom-permissions) and check whether the include parameter is set and if yes whether the user has the rights to include flags or not.

I would be very careful with this though because with the relationship on comments a user already gets an id and type of a flag which exposes information you mig

[2021-04-02 20:55] sliverc commented on #902
In exceptional cases relative urls might make sense but absolute urls are recommend by DRF see [here](https://www.django-rest-framework.org/api-guide/reverse/)

This said you can overwrite `get_url` in your view (maybe create your own project base view) and pass on `request` as `None` so DRF returns relative urls.

This could look like this (just from the top ofof my head without any testing):

[c

[2021-04-03 18:04] SafaAlfulaij commented on #903
I think the permission class can do this job (writing a general one, then sub classing it for different includes/permission code names.
And about the relationship, I can easily `pop` unauthorized fields/links from the serializer, and put the same permission class on the relationship view.

[2021-04-03 18:04] #903 closed

[2021-04-03 18:30] SafaAlfulaij commented on #901
Something just came to my mind. Not directly related, but in shares the scope.

Now as per JSON:API spec, included serializers must match with the data you get from the related URL.
As I know, we can change the serializer in the related view (`get_serializer_class`). Doesn't this violate the role as we can't select what the included serializer is, in a similar way to how viewset's `get_serializer_

[2021-04-04 15:58] SafaAlfulaij opened #905 "Filtering related fields with related_field"
How can we filter the related fields `/authors/1/entries/`?

[2021-04-05 12:13] sanjay-raut commented on #902
@sliverc  no, I  added this in my view but still the same.

we need relative URLs in payload because our APIs are behind API-gateway.

[2021-04-07 07:54] SafaAlfulaij commented on #901
Another question:
We have `Post` which has `category`. We also have `Category` witch has `posts`.
Now if we'd include `category` in `PostSerializer`, isn't it a) redundant to include the post ids in the included category, b) waste of SQL queries? c) complex to understand what to `select_related`/`prefetch_related` the needed fields to not kill the performance?

[2021-04-07 07:57] Tenzer opened #907 "Django 3.2 compatibility"
Django 3.2 is now out, but we are currently blocked on upgrading to it due to djangorestframework-jsonapi specifically disallows that and newer versions as dependencies:
https://github.com/django-json-api/django-rest-framework-json-api/blob/0892e3a8a4dbad9630d70e2b78e18b242a8b057d/setup.py#L101

I couldn't find any other issues related to this so thought I would create one.

Are there any specific

[2021-04-07 13:39] sanjay-raut commented on #902
@sliverc  `get_url` is not part of a view, it's a part of `ResourceRelatedField`, so I had to inherit this and override the `get_url` method.
this way I  am able to get relative URLs for related links.

[2021-04-07 13:43] sliverc commented on #907
We want to specify each supported release of Django or other dependencies to make sure it actually works by running the test suite through it. See for instance #822 where Django 3.1 had been added and quite a bit of changes were needed.

Currently DRF has released a version which officially supports Django 3.2. This said I would be fine adding Django 3.2 support in DJA before DRF has a new release

[2021-04-07 15:23] Tenzer commented on #907
Thanks! I have made a PR to bump the compatibility in #908.

[2021-04-07 18:04] #907 closed

[2021-04-07 19:03] sliverc commented on #901
I do not know your complete use case but I am not sure it is a good idea to have `posts` on `Category` as this might end up to be a really large request (with or without includes). Another solution is to have a filter `category` on the `post` end point which can be called when you want to show all posts of a certain category.

[2021-04-07 19:17] sliverc commented on #902
I was thinking you are using relationship view where [get_url](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/rest_framework_json_api/views.py#L247) would need to be overwritten as well.

But of course you also need to do that for `ResourceRelatedField`. Also make sure that your serializers set [serializer_related_field](https://github.com/django-json-api/django-rest

[2021-04-10 20:20] SafaAlfulaij opened #910 "Apply tags defined in OAS schema"
In https://github.com/encode/django-rest-framework/pull/7184, tags support was added to DRF.
It can be viewed here:
https://github.com/encode/django-rest-framework/pull/7184/files#diff-99d3943485b50b323271fe5399dab8b2c778f42cbc0749b0f702e4cab0a81b2cR107

DJA doesn't yet have this added.

[2021-04-12 14:34] TayHobbs opened #911 "Release needed for Django 3.2 Update"
Hello,

I see that there was a change to allow Django 3.2, but no new release has happened. This is preventing us from upgrading, could we get a new version released?

Thank you!

[2021-04-13 05:19] SafaAlfulaij opened #912 "ResourceRelatedField.source doesn't allow nested paths"
Compared to how DRF allow nested paths in source:
https://github.com/encode/django-rest-framework/blob/master/rest_framework/fields.py#L401

DJA doesn't allow it:
https://github.com/django-json-api/django-rest-framework-json-api/blob/51daed1a738aadb1536a6a3cbe787cbd88daaf05/rest_framework_json_api/utils.py#L204

Examples here: https://www.django-rest-framework.org/api-guide/fields/#source
`EmailFi

[2021-04-14 12:24] sliverc commented on #911
There are some regressions introduced in version 4.1.0 which I would like to address first before a new release. See PR in progress #904 #900 #897 which need to be cleaned up first though before being merged. I hope to get some time to get around those soon. Once this is ready there will be a new release.

[2021-04-14 13:23] SafaAlfulaij opened #913 "How to work with serializers.Serializer?"
How to work with the base `Serializer`?
How to include it? How to give it a pk?
I saw that some code got deprecated at a point of a time: https://github.com/django-json-api/django-rest-framework-json-api/commit/ab3fbfc8020b24c5aab54d53aa08cd927992bd48#diff-52135bfc77d9d40d99d5451d1c64e64d75f0ae5bd338162064891dfcfc27b3b0L114

Currently, it shows as a simple JSON field in the returned data.

[2021-04-14 14:24] SafaAlfulaij commented on #905
I took some time and now I have a solid thinking that we have to use the related views for related fields.
So, for the above exmaple, it should use a special function of `EntryViewSet` instead of `AuthorViewSet`'s `related_fields` function.
Why?
1. The actual resource we are fetching here is the related resource. It makes more sense to have it's viewset serve the request.
2. We get all querysets,

[2021-04-16 20:06] sliverc commented on #905
related urls served by a single viewset is a simple way of adding relationships links. It has its limitation though such as no filter support. Also important to note is that this got added later. The idea was to simplify the process of providing relationships links.

Before [RelationshipView](https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html#relationshipview) was actually

[2021-04-16 20:12] #905 closed

[2021-04-16 22:01] SafaAlfulaij opened #919 "Support specifying lookup name for hyperlinked fields to related_views"
Refer to: #904

There is no way currently to pass a custom lookup name of `related_view`s to hyperlinked fields.
The below field should link to `/entries/123/comments` instead of `/entries/123/comments_hyperlinked`.
[code]

[2021-04-18 16:29] SafaAlfulaij opened #922 "RelationshipView doesn't provide a way to modify relations queryset for fetching and validation"
https://github.com/django-json-api/django-rest-framework-json-api/blob/5e2f60d1b68b393b932f895a629e7d4c64553e98/rest_framework_json_api/serializers.py#L64

There is no way to change the queryset used for fetching the related input field but to subclass the class and replace all of `to_internal_value`.

Vanilla DRF provides a `queryset` parameter for related fields to do the mentioned. Checkout:
ht

[2021-04-18 17:47] sliverc commented on #337
Most of the concern in this PR actually have been addressed. There are still ways to reduce number of queries. Currently in this thread it is not clear what more needs to be done though.

So closing this issue and forward the conversation to discussion #921 and encourage everyone with an idea on reducing number of queries to engage there. Out of that discussion concrete new issues can then be extr

[2021-04-18 17:47] #337 closed

[2021-04-18 17:50] #902 closed

[2021-04-18 17:51] #431 closed

[2021-04-18 18:35] #913 closed

[2021-04-20 07:50] sunnythakr opened #929 "raise NotImplementedError('`create()` must be implemented.') NotImplementedError: `create()` must be implemented."
I am Django REST API beginner research lot and trying various ways to solve but it not solve, please anyone can help me in this

# here is my code

 Create your models here.

[code]

[code]

[code]

[code]
[code]

[2021-04-20 10:11] #929 closed

[2021-04-20 14:34] #910 closed

[2021-04-20 16:31] sliverc commented on #912
As far as I see does this only affects `ResourceRelatedField` for all other serializer fields dotted source should work.

I wonder why `relation.get_attribute(model)` is not used there which should solve this issue.

[2021-04-20 19:13] sliverc commented on #919
This is in the example app like this but I wonder whether it makes any sense at all to define a related field to the same relationship twice on the same serializer: one hyperlinked and one as resource.

I haven't tested this but if the hyperlink is defined like the below it should actually work right?
[code]
If so my question would be what the use case is for referencing the same relation once hyp

[2021-04-22 11:44] Adman opened #931 "Getting resource_name dynamically"
I have the following structure of serializers

[code]
`OneOfSerializer` is my custom serializer accepting values either for `A` or `B`. The main problem is that it doesn't contain `JSONAPIMeta` and DRF-jsonapi raises an exception. Would it be possible to somehow return the `resource_name` dynamically based on the data, so that the relation is correctly set?

[2021-04-23 14:20] #899 closed

[2021-04-25 16:56] glowka opened #932 "OpenAPI 2.0 schema generation – drf-yasg-json-api"
Hello @sliverc!

After using `django-rest-framework-json-api` (thanks for developing it!) in couple of projects I really lacked quick way to expose developed API with swagger or other tool of that kind. From available back then (1,5yr ago) packages, that supplied similar functionality for pure `django-rest-framework`, one particular package worked much better than built-in schema generation functi

[2021-04-26 09:58] wakingyeung commented on #155
If the `fields` parameter of `build_json_resource_obj` method contains an `id` field, use this `id` field, otherwise use the default implementation. I think this is very flexible.

[2021-04-28 13:48] #932 closed

[2021-04-29 19:20] #931 closed

[2021-04-30 19:10] #922 closed

[2021-05-02 20:29] SafaAlfulaij opened #938 "Filter validation too rigid for RangeFilter"
Here:
https://github.com/django-json-api/django-rest-framework-json-api/blob/fbb4b033a483b7edb62de3377c83a046a55f69b2/rest_framework_json_api/django_filters/backends.py#L80

[`RangeFilter`](https://django-filter.readthedocs.io/en/stable/ref/filters.html#rangefilter) is used to specify a value of the two ends without specifying the other. It works by looking for "_after" and "_before" in the query

[2021-05-04 17:55] sliverc opened #940 "Use JSON:API instead of JSON API"
Recently there have been some confusion that DJA got confused with plain DRF like #930 and #894. I guess the naming of the JSON:API specification is not ideal :smile:

It is though that in our readme and many other spots we use the term "JSON API" in the [json api spec](https://jsonapi.org/format/) "JSON:API" is used though.

So I suggest we find all "JSON API" references and replace it with "JSON

[2021-05-04 20:53] MsMansiDhruv commented on #940
Sure. Sounds like a good way to get into contributing. I can take it up.

[2021-05-12 18:45] #911 closed

[2021-05-18 18:24] sliverc commented on #370
A new discussion started around this issue in terms of how to use generic relationships and to what extend this is actually JSON:API spec conform at #942. There are some example snippets added there which might already answer the initial question.

However it is not quite clear to what extend generic relationships are JSON:API conform. So therefore closing this issue and we can further discuss thi

[2021-05-18 18:24] #370 closed

[2021-05-21 16:35] sliverc commented on #938
I agree this is a bug and this should actually work. There are also other suffixes used like [min and max](https://github.com/carltongibson/django-filter/blob/fe90e3a5fdeaff0983d1325a3e9dcf3458ef078f/django_filters/widgets.py#L129) which should work too. Any there could be custom suffixes as well. So I wonder instead of validating those filters on our own, whether there is a easy way to let the fi

[2021-06-05 07:32] sliverc opened #949 "Validation of included_resources fails when nested"
## Description of the Bug Report

#900 introduced validation of `included_resources` but causes a regression that when one of `included_serializers` of the current serializer of called view uses `included_resources` it will fail.

I assume validation of `included_resources` should actually be done in the serializer meta class and only query parameters validated in `IncludedResourcesValidationMixin

[2021-06-05 08:02] sliverc commented on #949
As a follow up I question whether it is a good idea to validate include query parameters in init of a serializer as init can be called anytime. Better to be moved to `QueryParameterValidationFilter`.

[2021-06-17 23:20] jking6884 commented on #949
@sliverc  Is this at all related to this problem I am facing.  I just upgraded a django 1.11 app up to latest and upgrded all django related dependencies to latest at the same time.

I am hitting an endpoint that maps to the AccountLicenseViewSet (I included the classes below).  It gets and serializes the initial queryset fine.  However, when it gets into the restframeworkjsonapi renderer.  While

[2021-06-23 16:40] esmail opened #952 "Support for deeply-nested included resources?"
Taking the familiar example of a blog post/article, would it be possible to return both the comments on the article *and* the authors of those comments?

The following quote (emphasis mine) leads me to believe this use case to be in-spec., but I'm not sure how to do so with DJA:

https://jsonapi.org/format/#document-compound-documents

[2021-06-25 20:17] sliverc commented on #949
@jking6884 Most likely this is the same issue you are facing then this one. Best try version DJA 4.1.0 for now till this issue has been addressed.

As a note for Django 3.2 support there were no changes needed so DJA 4.1.0 should also run with the newest Django version.

[2021-07-06 18:46] #952 closed

[2021-07-06 18:57] #949 closed

[2021-07-18 19:06] #858 closed

[2021-07-30 13:56] sliverc opened #967 "Inflect component attributes when using the OpenAPI SchemaGenerator"
### Discussed in https://github.com/django-json-api/django-rest-framework-json-api/discussions/966

<div type='discussions-op-text'>

<sup>Originally posted by **mattis-rosenkranz** July 29, 2021</sup>
The generated OpenaAPI-Scheme component attributes are not inflected using the settings described in the docs.
This is not a problem as the parser just leaves the attribute names as they are, but it

[2021-08-14 18:47] #940 closed

[2021-09-01 21:31] davidvalaz opened #971 "[Question] Installing django-filter with Poetry"
I see in the readme we're told to install **django-filter** with the following command:
[code]

I am using Poetry and this command doesn't work. Can I just use the following instead?
[code]

[2021-09-03 05:38] #971 closed

[2021-09-13 11:23] auvipy commented on #468
anything required? or we are ok to close it

[2021-09-13 13:44] sliverc commented on #468
there is actually a long way till this issue is closed. Goal is that all tests in `example/tests` will be converted to pytest style and moved to `tests` folder. Do not have much time at hand but will continue to work on this step by step. Assigned it to me so this is clear.

[2021-09-13 15:53] auvipy commented on #468
if you want helping hand i can do some. i did something like this to DRF

[2021-09-23 17:02] sliverc commented on #919
I thought about this issue again and actually the url the hyperlinked related field produces is correct, the issue is though that the test `EntrySerializer` does not either add a `included_serializers` or `related_serializers` for the field `comments_hyperlinked`. So this is a issue in the configuration of the example app. As of #468 we are currently cleaning up all the tests and then the example

[2021-09-23 17:02] #919 closed

[2021-09-23 17:27] #487 closed

[2021-09-23 17:31] sliverc commented on #467
This is a great idea which we should investigate further. Especially thinking about how the `RelatedMixin` could be replaced with a router as the current implementation is confusing especially when it comes to permissions and lacks feature such as filter support. See also #916

I do think though we should talk this through more about what a proper design of a DJA router would be and of such a disc

[2021-09-23 17:31] #467 closed

[2021-09-29 13:04] sliverc commented on #413
For someone who wants to take this up best start looking at the code [here](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/rest_framework_json_api/utils.py#L389).

[2021-09-29 13:43] sliverc opened #984 "Ensure that all external links are https"
## Description of the Bug Report

There are several links in our website which refer to `http://` instead of `https://` even though most linked sites actually provide `https`. Those links should be updated to all use https.

Quick search
[code]

## Checklist

- [x] Certain that this is a bug (if unsure or you have a question use [discussions](https://github.com/django-json-api/django-rest-framewor

[2021-09-29 16:41] sliverc opened #985 "Improve CONTRIBUTING.md"
## Description of the Bug Report

[CONTRIBUTING,md](https://github.com/django-json-api/django-rest-framework-json-api/blob/master/docs/CONTRIBUTING.md) currently only covers how to setup dev environment.

It would be great to get an overhaul so it actually explains how someone can contribute to DJA.

Following areas come to mind:

* Work on documentation
* Answer questions in our discussions
* Rep

[2021-09-29 17:29] himanshu007-creator commented on #984
Hi , i would like to work on this issue

[2021-09-29 17:34] sliverc commented on #984
@himanshu007-creator Sure. Any help is very appreciated.

[2021-10-02 17:58] mehdy commented on #413
@sliverc Hi, would you mind if I work on this issue?

[2021-10-02 18:20] sliverc commented on #413
@mehdy go for it that would be great

[2021-10-02 23:27] SwarajBaral commented on #984
Is this issue closed @sliverc ? I would love to contribute in this.

[2021-10-04 18:39] sliverc commented on #984
@SwarajBaral It seems @himanshu007-creator hasn't had time yet to work on this. As this is a fairly short task as long as no PR hasn't been opened to address this issue feel free to work on it.

[2021-10-04 18:44] SwarajBaral commented on #984
Sure, @sliverc, I will get started right away. So just to be sure, I need to edit all the links in the `./docs` directory and change them from `http://` to `https://` right ?

[2021-10-04 18:50] sliverc commented on #984
@SwarajBaral yes + some occurrences in readme, changelog and a few doc strings.

Best run the following command to see what needs to change:

$ git grep "http://" | grep -v testserver | grep -v localhost | grep -v "127.0.0.1" | grep -v example.com | grep -v example.org

[2021-10-04 18:51] SwarajBaral commented on #984
Thank you for such a quick response @sliverc. I will get started on it.

[2021-10-04 19:18] SwarajBaral commented on #984
Hey @sliverc, I have created a pr. Kindly check #989.

[2021-10-05 19:48] #984 closed

[2021-10-05 20:12] SwarajBaral commented on #967
Hey @sliverc, I would like to work on this. Can you guide me a bit so that I can get started ?

[2021-10-06 12:42] #518 closed

[2021-10-06 12:42] #710 closed

[2021-10-21 07:16] auvipy commented on #468
you can use me as helping hand.

[2021-10-22 16:42] sliverc opened #1000 "Add support for Django 4.0"
## Description of the Bug Report

Django 4.0a1 has been [released](https://www.djangoproject.com/weblog/2021/sep/21/django-40-alpha-1-released/). As it is marked as feature freeze we can also add it to our test suite.

DRF has also already [added](https://github.com/encode/django-rest-framework/pull/8178) it. As a reference to implement this have a look at #908

## Checklist

- [x] Certain that th

[2021-10-22 16:49] sliverc opened #1001 "Add support for Python 3.10"
## Description of the Bug Report

Python 3.10 has been [released](https://www.python.org/downloads/release/python-3100/) and we should add support to DJA. See #846 as reference for implementation.

## Checklist

- [x] Certain that this is a bug (if unsure or you have a question use [discussions](https://github.com/django-json-api/django-rest-framework-json-api/discussions) instead)
- [x] Code snip

[2021-10-23 00:11] auvipy commented on #1001
I want to handle this one

[2021-10-28 11:57] brettdh opened #1004 "Validation of include parameter causes unhandled exception"
## Description of the Bug Report

When requesting an API endpoint with the `include` query param, specifying an unsupported value results in an uncaught exception and traceback (below). Note: this only seems to happen when querying using the browseable API. When I use [Insomnia](https://insomnia.rest/), I get a 400 response as I'd expect.

Versions:
- Python: 3.6.15
- Django: 3.1.8
- DRF: 3.12.4
-

[2021-11-11 14:15] #967 closed

[2021-11-22 17:51] #1000 closed

[2021-11-29 16:44] #1001 closed

[2021-11-30 17:52] sliverc opened #1019 "Resolve resource type in serializer's meta class"
`utils.get_resource_type_from_serializer` is called several times throughout the DJA code base. When this method raises an `AttributeError` it is a configuration/code setup issue and not a runtime issue. Besides there is no error message describing want went wrong.

Goals:
* move logic of `get_resource_type_from_serializer` to serializer's meta class
* improve error handling (better error message)

[2021-11-30 18:01] sliverc commented on #1019
See discussion #1017 for more details.

[2021-12-01 14:46] jokiefer commented on #1019
i experiment with the meta class implementation at my [fork](https://github.com/jokiefer/django-rest-framework-json-api/tree/bug/1019)

In principle that works - but i think we should rethink about the goal of moving the logic to the meta class creation, cause **all** serializers are configured on django start and at this point many tests have to become refactored. Maybe i can do that refactoring,

[2021-12-02 17:45] sliverc commented on #1019
In terms of API moving the logic of calculating relation resource type. I understand that this is not a easy and simple task. So for a quick fix I am happy to receive a PR which adds details to the `AttributeError`. We can then leave this issue open for further refactoring later on.

[2021-12-02 18:45] jokiefer commented on #1019
Ok - i'll do it quickly.

Is there any program workflow cheatsheet? I would do a docs enhancement in a separated issue if not.

[2021-12-02 19:06] sliverc commented on #1019
As DJA is a DRF extension the worklow is the same. Not sure whether there is a sketch like this for DRF but I guess it would make most sense to add to the upstream Django REST framework doc.

Feel free to sketch something though and open a discussion about it.

[2021-12-31 15:23] SafaAlfulaij commented on #1019
While we are at this, what do you think if we allowed serializers themselves to define what kind of type they are, via a function?
This would overwrite the attribute access.
Something very similar to what DRF does with `queryset/get_queryset` and `serializer_class/get_serializer_class` in views.
This would help for polymorphic relations, generic relations and custom non-ORM relations and serialize

[2021-12-31 17:59] jokiefer commented on #1019
I think this would match the `django common` way. Many django porjects does it like that.

[2022-01-04 18:04] SafaAlfulaij commented on #1019
I'm also thinking if we make `included_serializers` and `included_resources` the same way. This also would help polymorphic relations, generic relations and custom non-ORM relations and serializers.

[2022-02-11 10:15] SafaAlfulaij opened #1052 "Meta fields are not filtered out dynamically"
## Description of the Bug Report

[DRF supports dynamically changing](https://www.django-rest-framework.org/api-guide/serializers/#dynamically-modifying-fields) the fields returned per request. This works well (despite the performance issues, etc)

Meta fields though does not get filtered based on this properly. If the field is excluded, it will be rendered with a null value (since the actual valu

[2022-02-12 18:47] SafaAlfulaij commented on #1052
Indeed. Closing this then.

[2022-02-12 18:47] #1052 closed

[2022-02-15 07:24] jokiefer opened #1053 "SparseFieldsetsMixin does not use the correct configured JSON_API_FORMAT_FIELD_NAMES"
## Description of the Bug Report
`SparseFieldsetsMixin` does not adjust field_names by configured format.

## Fix:

[code]

## Checklist

- [x] Certain that this is a bug (if unsure or you have a question use [discussions](https://github.com/django-json-api/django-rest-framework-json-api/discussions) instead)
- [x] Code snippet or unit test added to reproduce bug

[2022-02-15 17:57] sliverc commented on #1053
I agree this is a bug. For compatibility as we do it in other spots it is better to run `undo_format_field_name` on the fieldset to solve this issue. PR is welcome.

[2022-03-20 22:01] #320 closed

[2022-04-14 11:39] gbouzioto opened #1061 "format_field_names does not supported nested structures"
## Description of the Bug Report

Hello I have observed that `rest_framework_json_api.parsers.format_field_names` does not support nested structures.

### Unittest code to reproduce
[code]
### Suggested Solution

[code]
## Checklist

- [ x] Certain that this is a bug (if unsure or you have a question use [discussions](https://github.com/django-json-api/django-rest-framework-json-api/discussions) i

[2022-04-18 07:24] sliverc commented on #1061
Thanks for your request. This is actually not a bug but deliberately not recursive. You can find more details in following discussion https://github.com/django-json-api/django-rest-framework-json-api/discussions/1057 I have pinned this discussion now as it is a common question. In case you have any more comments feel free to add it to that discussion.

[2022-04-18 07:24] #1061 closed

[2022-04-18 07:31] gbouzioto commented on #1061
Thanks a lot for your reply. It makes sense.

[2022-05-30 19:55] bashlyss commented on #912
I'm not sure if this issue still applies in full in the current version. In my own testing of both fk, 1:1 and m2m relationships, only nested m2m fields had any issue. #1065 opened as a fix to this case

[2022-06-01 05:25] qianxuanyon opened #1066 "OpenAPI Schema generation fails with generic APIViews"
## Description of the Bug Report

[code]

Errors when accessing documents

AttributeError: 'LogoutView' object has no attribute 'get_serializer'

Is fault tolerance possible when the program has api in other formats

## Checklist

- [x] Certain that this is a bug (if unsure or you have a question use [discussions](https://github.com/django-json-api/django-rest-framework-json-api/discussions) inste

[2022-06-01 08:04] sliverc commented on #1066
Could you provide the full stacktrace of the error? Thanks.

[2022-06-01 09:32] qianxuanyon commented on #1066
[code]

This is my configuration
[code]

This is the source code of the object reporting the error
[code]

[2022-06-07 17:56] Elawphant commented on #399
**serializers.ValidationError** does not support custom `source: { pointer: ... }`. E.g.
[code]
results in
[code]
This issue needs to be reopen.

[2022-06-28 13:20] leo-naeka opened #1069 "Multi-words relation names error pointers are misformed"
## Description of the Bug Report

#986 fixed #413 but did not covered multiple words in relations names.

Therefore, when fields names formatting is enforced, pointers still refers to `/attributes/` since inflection breaks field identification as a relationship.

A PR with the failing tests and the fix are on the way.

## Checklist

- [x] Certain that this is a bug (if unsure or you have a questio

[2022-06-29 10:07] #1069 closed

[2022-06-29 15:56] sliverc commented on #1066
Thanks for the additional information. So this seems to be an issue with our openapi implementation. As far as I see does the DRF implementation skip views without serializers.

We need to go through our openapi.py and all `view.get_serializer()` call need to be changed to either `self.get_request_serializer` or `self.get_response_serializer`. If None is returned, that view will need to be ignored

[2022-07-13 20:59] #912 closed

[2022-07-21 13:53] martinsmid commented on #1061
I had to fix an existing app with this custom `format_field_names`, but there was still a problem with parser, when using nested structures. Using version 4.3.0, this package's JSONParser will not use our custom `format_field_names` function by itself. So I solved this by subclassing it and importing our custom function into this playground.

    from rest_framework_json_api.parsers import JSONPar

[2022-07-23 14:42] Elawphant opened #1075 "Non-model Serializer outputting wrong error"
The non-model Serializer is outputting wrong error.

Example

serializer
[code]
view
[code]
Error
[code]

[2022-07-23 15:04] #1075 closed

[2022-08-05 15:21] #399 closed

[2022-08-14 15:10] aseidma opened #1080 "OpenApi Schema references non-existing JSON fields"
## Description of the Bug Report
When generating an OpenApi schema using `python manage.py generateschema --file schema.yml`, the schema is generated without errors, but references non-existent fields via `$ref`, making it unuseable.

E.g.:
[code]

For reference, this is what `#/components` looks like in the generated file:

[code]

## Checklist

- [x] Certain that this is a bug (if unsure or you

[2022-08-14 18:57] sliverc commented on #1080
`type`, `id` and `links` are all automatically generated by DJA as per [JSON:API specification](https://jsonapi.org/format/), so that is why those are referenced in OpenAPI as well.

Hence, could you elaborate what you exactly mean with "does not exist"?

[2022-08-14 20:39] aseidma commented on #1080
Thank you for getting back so quickly!
What I mean by "does not exist" ist that `$ref` is supposed to point to a JSON value within the schema document, but the value it points to in this case does not exist.
See how `$ref` should be used here: https://swagger.io/docs/specification/using-ref/

In the generated schema, an example would be that one of the `$ref` values points to `#/components/schemas

[2022-08-15 01:52] sliverc commented on #1080
@n2ygk could you have a look at this? Thanks.

[2022-08-15 12:54] n2ygk commented on #1080
@sliverc @aseidma hmm, I see them defined in the source code:

https://github.com/django-json-api/django-rest-framework-json-api/blob/main/rest_framework_json_api/schemas/openapi.py#L208-L221

And when viewing that dict definition they appear to be set:

[code]

However when I do a generateschema of my demo app, I also see that this must have gotten overwritten somewhere. Definitely a bug.

[2022-08-15 13:15] n2ygk commented on #1080
I'll try tracing this but I have to warn that Tom seems to have abandonded using internal schema generation in DRF and is recommending a different 3rd-party schema generator whose name escapes me at the moment.

[2022-08-15 14:36] n2ygk commented on #1080
@sliverc  @aseidma  ugh, I totally forgot that you have to override the generateschema generator class like documented [here](https://django-rest-framework-json-api.readthedocs.io/en/stable/usage.html#generate-a-static-schema-on-command-line)

[code]

We could add a management command that overrides generateschema I suppose, but given the DRF trend away from an internal OAS schema generator, the e

[2022-08-15 14:46] n2ygk commented on #1080
See https://github.com/django-json-api/django-rest-framework-json-api/discussions/1082

[2022-08-18 21:09] sliverc commented on #1080
@n2ygk Do I understand you correctly, once the generateschema command is run as above, OpenAPI works as expected? If so, I guess we should clarify the docs to make this clearer. As it is written now, it seems that a custom generator class is needed, which is not really the case.

[2022-08-21 07:09] #1080 closed

[2022-09-12 11:03] Elawphant opened #1087 "Allow polymorphic serializer to be defined as dotted string in PolymorphicResourceRelatedField"
`PolymorphicResourceRelatedField` serializer throws 'str' object has no attribute 'get_polymorphic_types', if the referenced serializer is declared before the referencing serializer.

[code]
'module.serializers.ASerializer' should be the preferred way of referencing other serializers to avoid circular imports.

[2022-09-12 16:30] eloi-martinez-qida opened #1088 "Error using a filter with a suffix"
## Description of the Bug Report
I have a django FilterSet in a view that filters a date with DateFromToRangeFilter.
date_before=yyyy-mm-dd works fine but
filter[date_before]=yyyy-mm-dd
rises a:
ValidationError
rest_framework.exceptions.ValidationError: [ErrorDetail(string='invalid filter[date_before]', code='invalid')]

## Checklist

- [x] Certain that this is a bug (if unsure or you have a quest

[2022-09-12 18:44] sliverc commented on #1088
Thanks for reporting. This is I feel a duplicate of #938 Closing this issue, therefore. If there are additional comments to this issue, feel free to add comments to the respective issue.

[2022-09-12 18:44] #1088 closed

[2022-09-12 18:51] eloi-martinez-qida commented on #938
Yes, it looks like it's a duplicate, sorry for opining another issue.

Are there any plans to fix it? This issue has been open for more than a year.

[2022-09-12 18:56] sliverc commented on #1087
Thanks for reporting. It can be debated whether this is a bug or a feature request. Currently, `PolymorphicResourceRelatedField` does not support serializer to be defined as dotted string. It would certainly be more consistent to allow it.

PR is very welcome. Code line which I guess needs to be adjused is around [this line](https://github.com/django-json-api/django-rest-framework-json-api/blob/ma

[2022-09-12 19:02] sliverc commented on #938
@eloi-martinez-qida
No worries. Welcome to DJA! This is an OSS project with only volunteer contributors. So people work on the issues which are most relevant to them.

Therefore, if you are affected by this issue, I encourage you to work on a PR. Happy to assist if needed.

[2022-09-13 08:50] eloi-martinez-qida commented on #938
@sliverc What would be the best way to tackle the problem?

[2022-10-21 18:06] Elawphant commented on #1087
What does `LazySerializersDict` do at [L176 in DRFJSONAPI.serializers](https://github.com/django-json-api/django-rest-framework-json-api/blob/main/rest_framework_json_api/serializers.py#L176)?

[2022-10-22 07:32] Elawphant commented on #1087
if there was no circular import issue, we could just do
[code]

[2022-10-22 08:20] sliverc commented on #1087
The LazySerializerDict only resolves the serializer from dotted string when accessed the first time. This should also be used in this case, it needs to be checked whether this resolves the issue fully in terms of circular imports though as the polymorphic meta class already accesses the serializer.

[2022-10-22 09:23] Elawphant commented on #1087
It does not unfortunately. Since LazySerializerDict requires serializer, instead I used import_class_from_dotted_path. but it fails with circular imports

I tried to extend `PolymorphicResourceRelatedField`. Here's my code.
[code]

[2022-10-25 18:40] sliverc commented on #1087
I haven't dived into this issue enough to really see what is the best approach. What I recommend you to do is to work on a PR with a test which setups the serializer the way you would like it to support it (including recursion and dotted strings).

Then, if you find a solution which makes the test green, great and attach it to the PR. If you do not, simply open a PR with the failing test. This wil

[2022-11-12 17:10] loveJasmine opened #1103 "django-admin loaddata drf_example falied"
(venv) PS C:\django-rest-framework-json-api>
(venv) PS C:\django-rest-framework-json-api> django-admin loaddata drf_example --settings=example.settings
System check identified some issues:

WARNINGS:
example.Author: (models.W042) Auto-created primary key used when not defining a primary key type, by default 'django.db.models.AutoField'.
        HINT: Configure the DEFAULT_AUTO_FIELD setting or the

[2022-11-12 17:28] loveJasmine opened #1104 "failed on django-admin runserver --settings=example.settings"
(venv) PS C:\django-rest-framework-json-api> django-admin runserver --settings=example.settings
C:\django-rest-framework-json-api\venv\Scripts\python.exe: Error while finding module specification for '__main__' (ValueError: __main__.__spec__ is None)
(venv) PS C:\django-rest-framework-json-api>

[2022-11-14 08:52] sliverc commented on #1103
Yep this is indeed an error. Thanks for reporting. This should be fixed once #1105 is merged.

[2022-11-14 16:38] #1103 closed

[2022-11-14 18:06] sliverc commented on #1104
Thanks for reporting this issue. I unfortunately cannot reproduce this issue. It might be an issue with a corrupted venv. As #1103 is now fixed could you try again? Best delete your virtual env first and follow the steps in the README again to see whether this issue comes up again.

[2022-11-15 12:00] loveJasmine commented on #1104
the issue exists yet!

windows 11

C:\django-rest-framework-json-api\venv\Scripts\python.exe: Error while finding module specification for '__main__' (ValueError: __main__.__spec__ is None)
(venv) PS C:\django-rest-framework-json-api>

(venv) PS C:\django-rest-framework-json-api> python
Python 3.9.0 (tags/v3.9.0:9cf6752, Oct  5 2020, 15:34:40) [MSC v.1927 64 bit (AMD64)] on win32
Type "help", "cop

[2022-11-29 11:23] sliverc opened #1109 "JSON API 1.1: return included array even if nothing is included"
## Description of feature request

Currently, when there are no included resources, there is no included key. However, as of JSON API 1.1 [this is required](https://jsonapi.org/format/1.1/#fetching-includes) and in older versions it is certainly allowed. So whenever a user has requested includes with the query parameter `include` an `included` key needs to be part of the result. But only then. If